<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
    </div><!-- End Page Title -->
    <div class="row">
        <div class="col-lg-12">
        <section class="section dashboard" style="padding: 10px">
            <div class="text-center">
                <h1 class="display-4">Seja muito bem vindo a área criada com alunos do desafio</h1>
                <p>Para mais detalhes acesse <a href="https://github.com/Rafael955">https://github.com/Rafael955</a>.</p>
            </div>
        </section>
        </div>
    </div>
</main><!-- End #main -->

<app-footer></app-footer>

